* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #989898;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

h3{
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}
h1, h2, h3, h4, h5 {
    color:#4f4f4f;
}

/*Header*/

header {
    display: flex;
    height: 64px;                     
}

.titleMenu {
    color: #9f9b9b;
    font-size: 32px;
}

.titleMenu span {
    color: #01161e;
}

.logo {
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-left: 24px; 
}

.logo img {
    height: 32px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.desktop {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 24px;            
}

.desktop > a {
    padding-left:16px;             
    text-decoration: none;
    color:#515151;
}

/* Remove mobile icon */
.mobile {
    display: none;
}

/*Section 1*/

#section1 {
    display: flex;
    background-color: #9f9b9b;
    color: #01161e;
}

#section1 img {
    width: 60%;
    padding: 30px;
}

.section1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 32px;
}

.section1-content h1 {
    padding-bottom: 16px;
}

.section1-content h4 {
    padding-bottom: 8px;
}

.section1-content a {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 60%;
    text-decoration: none;
    text-align: center;
}

/*Section 2*/
#section2 {
    display: flex;
    width: 100%;
    padding: 32px 24px;
}

.s2-leftContent {
    width: 60%;
}

.s2-leftContent img{
    width: 100%;
}

.s2-leftContent h2 {
    padding-top: 32px;
    padding-bottom: 24px;
}

.s2-leftContent h5 {
    padding-top: 24px;
}

.s2-rightContent {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 40px;
}

.s2-imgDesktop {
    width: 35%;
    height: auto;
}

/*To be displayed in Mobile*/
.s2-imgMobile {
    display: none;
}

.s2-rightContent p {
    padding-top: 16px;
    padding-bottom: 8px;
}

.s2-box1, .s2-box2, .s2-box3 {
    display: flex;
    padding: 0px 16px 16px;
}

.s2-box-content {
    padding: 16px;
}

.s2-box3 {
    background-color: lightgray;
}

/*Section 3*/

#section3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lightgray;
    align-items: center;
    padding: 32px 72px;
}

.s3-courseList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.s3-courses {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 32px;
}

.s3-desc {
    background-color: white;
    padding: 16px 16px 32px;
}

.s3-coursetext {
    padding-top: 8px;
    padding-bottom: 16px;
}

/*To be displayed in Mobile*/
.s3-courseListMobile {
    display: none;
}

/*section 4*/

#section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 24px;
}

.s4-content {
    display: flex;
    width: 100%;
    margin-top: 32px;
}

.s4-leftContent {
    width: 60%;
}

.s4-leftContent video {
    width:100%;
}

.s4-leftContent h3 {
    padding-top: 24px;
    padding-bottom: 16px;
}

,.s4-leftContent p {
    padding-bottom: 32px;
}

.s4-rightContent {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 40%;
    margin-left: 24px;
}

.s4-box1, .s4-box2 {
    display: flex;
    width: 100%;
    padding: 16px;
}

.s4-box1 {
    background-color: lightgray;
}

.s4-boxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

/*footer*/
footer {
    display: flex;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 16px 0px 16px 24px;
    justify-content: space-between;
    align-items: center;
}

.footer-terms {
    display: flex;
}
.footer-terms p {
    padding: 5px;
}


@media only screen and (max-width:720px) 
{
    /* Hide Logo */
    .desktop, .logo {
      display: none;
    }

    .mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;          
      }
    
    /*Change display from row to column*/
    #section1 {
        flex-direction: column;
        justify-content: center;
    }
    .section1-content{
        align-items: center;
    }
    #section1 img {
        width: 100%;
        padding: 0px;
    }

    #section2 {
        padding: 0;
    }

    /*Hide in Mobile*/
    .s2-leftContent {
        display: none;
    }
    
    .s2-rightContent {
        width: 100%;
        padding: 32px;
    }

    /*Hide in Mobile*/
    .s2-imgDesktop {
        display: none;
    }

    .s2-imgMobile {
        display: inline;
        width: 100%;
    }

    /*change display from row to column*/
    .s2-box1, .s2-box2, .s2-box3 {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .s2-rightContent img {
        width: 100%;
    }
    
    .s2-box-content {
        padding-top: 16px;
        padding-bottom: 32px;
    }

    .s2-box3 {
        background-color: white;
    }

    /*Section 3*/
    #section3 {
        background-color: white;
        width: 100%;
        padding: 32px 72px;
    }

    /*To hide in Mobile*/
    .s3-courseList {
        display: none;
    }

    .s3-courseListMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 16px;
    }

    .s3-courseListMobile button {
        width: 100%;
        border: none;
        background-color: lightgrey;
        text-align: center;
        margin-bottom: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    /*section 4*/

    /*To hide in Mobile*/
    .s4-rightContent {
        display: none;
    }

    .s4-leftContent {
        width: 100%;
    }

    footer {
        padding-left: 16px;
    }

    footer > p {
        width: 40%;
    }
}

